.DS_Store


### Build Directory ###
dist

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp


### Node ###
# Logs
logs
*.log
npm-debug.log

# Misc files
*.csv
*.dat
*.iml
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
private_key

# VM and container files
Vagrantfile
.vagrant
Dockerfile
.dockerignore


### Dependency directory ###
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules


### Sass ###
.sass-cache
*.css.map
