$cta-color: #ebebeb;

.dashboard {
	padding-top: 3em;
	padding-bottom: 50vh;

	.sticky {
		z-index: 1000;
	}

	nav {
		background-color: $white;
		a {
			color: #959595;
			padding-top: 1em;
			padding-bottom: 1em;
			border-bottom: 4px solid transparent;
			transition: border .2s linear;
			&.selected {
				border-bottom-color: $brand-primary;
				color: $brand-primary;
			}
		}
	}

	section {
		background-color: #f2f2f2;
		// padding: 1em 0 0 0;
		margin-bottom: 2em;
	}

	#your-family {
		text-align: center;
		p {
			margin: 1em 0;
		}
		.options {
			padding-top: 3em;
			padding-bottom: 3em;
		}
		.footer {
			background-color: $cta-color;
			padding-top: 1em;
			padding-bottom: 1em;
		}

		.option .image {
			height: 145px;
		}
	}

	#facilities {
		padding: 1em;
		.facility {
			background-color: $cta-color;
			p { display: none; }
			.image { height: 120px; }
			.link {
				margin-top: 44px;
			}
		}
	}

	#chat {
		height: 400px;
		padding: 0;
		position: relative;
		@media(max-width: $screen-sm) {
			height: auto;
		}
		> .row {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		.info {
			padding: 1em;
			background-color: $brand-primary;
			color: #fff;
			text-align: left;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 30%;
			@media(max-width: $screen-sm) {
				position: relative;
				width: 100%;
			}

			.image {
				width: 70px;
				height: 70px;
				background: transparent;
				border-radius: 70px;
				margin: 1em auto;
				background-image: url(../images/lisa-avatar-big-dashboard.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
			}
		}
		.conversation {
			padding: 1em;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 30%;
			width: auto;
			right: 1em;

			@media(max-width: $screen-sm) {
				position: relative;
				width: 100%;
				left: 0;
				right: 0;
				height: 40vh;
			}

			form {
				position: absolute;
				left: 1em;
				right: 0;
				bottom: 1em;
				@media(max-width: $screen-sm) {
					right: 1em;
				}
			}

			.messages-list {
				position: absolute;
				top: 0;
				left: 1em;
				right: 0;
				bottom: 4.5em;
				overflow: scroll;
				li {
					position: relative;
					padding: 1em;
					margin: 1em .5em;
					background: $white;
					width: 78%;
					word-break: break-all;
					// border: 1px solid $gray-light;

					// Don't show sender for now
					.sender {
						display: none;
					}

					p:last-of-type {
						margin-bottom: 0;
					}

					&:after {
						right: 100%;
						top: 50%;
						border: solid transparent;
						content: " ";
						height: 0;
						width: 0;
						position: absolute;
						pointer-events: none;
						border-color: rgba(255, 255, 255, 0);
						border-right-color: #ffffff;
						border-width: 6px;
						margin-top: -6px;
					}

					&.Me {
						background: darken($gray-lighter, 5%);
						margin-left: 20%;
						&:after {
							right: auto;
							left: 100%;
							border-right-color: transparent;
							border-left-color: darken($gray-lighter, 5%);
						}
					}
				}
			}
		}
	}

	.option {
		.image {
			background-color: transparent;
			border-color: transparent;
		}
	}
}