// Uncomment the following line if you need bootstrap variables here
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

//////////
// COLORS
//////////

$white: #ffffff;
$brand-selected: #1fb795;
$notification-background: #b5e1eb;

// Bootstrap Overrides
$brand-primary: #19a1c9;
$brand-success: #07b895;
$btn-primary-bg: $brand-success;
$border-radius-base: 0;